.body {
  padding: 10px;
}

.header {
  position: relative;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
}

.filters {
  display: inline-block;
}

.user-actions {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 10px;
}

.user-actions .button, .user-actions button {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
  color: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.user-actions .button:hover, .user-actions button:hover {
  background-color: #f0f0f0;
}
