
/*.map-container {*/
/*  position: relative;*/
/*  width: 100%;*/
/*  height: 100vh;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  overflow: hidden;*/
/*}*/

/*.map-image {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  object-fit: cover;*/
/*}*/

/*.back-button {*/
/*  position: absolute;*/
/*  bottom: 20px;*/
/*  right: 20px;*/
/*  padding: 10px 20px;*/
/*  font-size: 16px;*/
/*}*/

/* map.component.css */
.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000; /* Добавяне на фон, за да се избегнат бели ленти */
}

.map-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover е по-добър за запълване на контейнера */
  image-rendering: -webkit-optimize-contrast; /* Оптимизиране на контраста */
  image-rendering: crisp-edges; /* Оптимизиране на рендирането на ръбовете */
}

.back-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
