<div class="container">
  <h2>Forgot Password</h2>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email" />
    </div>

    <button type="submit" class="btn" [class.active]="!forgotPasswordForm.invalid" [disabled]="forgotPasswordForm.invalid">
      Send Reset Link
    </button>
  </form>

  <button [routerLink]="['/login']" class="btn back-btn">Back to Login</button>
</div>
