<div class="container">
  <h2>Забравена парола</h2>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="email">Имейл</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="Въведете вашия имейл"
      />
    </div>

    <button
      type="submit"
      class="btn"
      [class.active]="!forgotPasswordForm.invalid"
      [disabled]="forgotPasswordForm.invalid"
    >
      Изпрати линк за нова парола
    </button>
  </form>

  <button [routerLink]="['/login']" class="btn back-btn">
    Назад към вход
  </button>
</div>
