<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <nav class="nav flex-column">
        <a class="nav-link" routerLink="profile" routerLinkActive="active">My Profile</a>
        <a class="nav-link" routerLink="bookings" routerLinkActive="active">My Bookings</a>
        <a class="nav-link" routerLink="scheduler" routerLinkActive="active">Parking Table</a>
      </nav>
    </div>
    <div>
      <app-scheduler></app-scheduler>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
