<div class="container">
  <h2>Нова парола</h2>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="password">Нова парола</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        placeholder="Въведете нова парола"
      />

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Потвърди новата парола</label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        formControlName="confirmPassword"
        placeholder="Повторете новата парола"
      />
    </div>

    <button
      type="submit"
      class="btn"
      [class.active]="!resetPasswordForm.invalid"
      [disabled]="resetPasswordForm.invalid"
    >
      Запази новата парола
    </button>

    <div>
      <button [routerLink]="['/home']" class="btn home-btn">
        Назад към начало
      </button>
    </div>
  </form>
</div>
