<div class="container">
  <h2>Вход</h2>

  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="email" class="required">Имейл</label>
      <input type="email" class="form-control" id="email" formControlName="email"/>
    </div>

    <div class="form-group">
      <label for="password" class="required">Парола</label>
      <input type="password" class="form-control" id="password" formControlName="password"/>
    </div>

    <button
      type="submit"
      class="btn"
      [class.active]="!loginForm.invalid"
      [disabled]="loginForm.invalid">
      Вход
    </button>
  </form>

  <button type="button" class="btn guest-btn" (click)="goToQuickBooking()">
    Бърза резервация (гост)
  </button>

  <button [routerLink]="['/home']" class="btn home-btn">Начало</button>

  <div class="forgot-password">
    <a [routerLink]="['/forgot-password']">Забравена парола?</a>
  </div>
</div>
