.form-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px;
  text-align: left;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  transition: background-color 0.3s;
}

button.active {
  background-color: #fff;
  color: black;
  border: 1px solid #007bff;
}

.forgot-password {
  margin-top: 10px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

