/*.container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  height: 100vh;*/
/*  text-align: center;*/
/*}*/

/*h1 {*/
/*  margin-bottom: 20px;*/
/*}*/

/*.buttons {*/
/*  display: flex;*/
/*  gap: 10px;*/
/*}*/

/*button {*/
/*  padding: 10px 20px;*/
/*  font-size: 16px;*/
/*  cursor: pointer;*/
/*}*/

app-scheduler {
  width: 100%;
  height: 500px; /* Може да настроиш височината според нуждите си */
}
