<table *ngIf="paginatedBookings.length > 0">
  <thead>
  <tr>
    <th>Паркинг</th>
    <th>Място</th>
    <th>Начало</th>
    <th>Край</th>
    <th>Сума</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let b of paginatedBookings">
    <td>{{ b.parkingName }}</td>
    <td>{{ b.spaceNumber }}</td>
    <td>{{ b.startTime | date:'dd.MM.yyyy HH:mm' }}</td>
    <td>{{ b.endTime   | date:'dd.MM.yyyy HH:mm' }}</td>
    <td>
      {{ (b.amountBgn ?? 0) | number:'1.2-2' }} лв.
    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="paginatedBookings.length === 0">
  Нямаш резервации.
</div>
