<div class="page-wrapper">
  <div class="home-container">
    <div class="home-parkings-panel">
      <div class="home-parkings-scroll">
      <app-parking-list
        [parkings]="parkings"
        mode="guest">
      </app-parking-list>
      </div>
    </div>
    <div class="home-actions-card">
      <h1 class="app-title">ParkWise</h1>

      <button class="action-btn login-btn" [routerLink]="['/login']">
        Вход
      </button>

      <button class="action-btn register-btn" [routerLink]="['/register']">
        Регистрация
      </button>

      <button class="action-btn quick-booking-btn" [routerLink]="['/quick-booking']">
        Бърза резервация
      </button>
    </div>

  </div>
</div>

