<!--<div class="container">-->
<!--  <h1>ParkWise</h1>-->
<!--  <div class="buttons">-->
<!--    <button [routerLink]="['/login']">Login</button>-->
<!--    <button [routerLink]="['/register']">Register</button>-->
<!--    <button [routerLink]="['/quick-booking']">Quick Booking</button>-->
<!--  </div>-->
<!--  <div class="free-counter" *ngIf="freeNow !== null; else loading">-->
<!--    <span>Свободни места в момента:</span>-->
<!--    <strong>{{ freeNow }} / {{ totalSpots }}</strong>-->
<!--  </div>-->

<!--  <ng-template #loading>-->
<!--    <div class="free-counter">-->
<!--      Зареждане на свободните места...-->
<!--    </div>-->
<!--  </ng-template>-->

<!--</div>-->
<!--<router-outlet></router-outlet>-->
<div class="page-wrapper">
  <div class="home-container">
    <div class="home-parkings-panel">
      <div class="home-parkings-scroll">
      <app-parking-list
        [parkings]="parkings"
        mode="guest">
      </app-parking-list>
      </div>
    </div>
<!--    <div class="parkings-list">-->
<!--      <h2>Налични паркинги</h2>-->

<!--      <div *ngIf="parkings.length === 0">-->
<!--        Няма налични паркинги.-->
<!--      </div>-->
<!--      <div class="parkings-scroll">-->
<!--        <div class="parking-card" *ngFor="let p of parkings">-->
<!--          <h3>{{ p.name }}</h3>-->
<!--          <p class="address">{{ p.address }}</p>-->
<!--          <p>Свободни места сега: <strong>{{ p.freeSpaces }}</strong></p>-->
<!--          <p>Цена на час: <strong>{{ p.pricePerHourBgn | number:'1.2-2' }} лв.</strong></p>-->
<!--          <button class="reserve-btn" (click)="goToScheduler(p)">-->
<!--            Резервирай тук-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="home-actions-card">
      <h1 class="app-title">ParkWise</h1>

      <button class="action-btn login-btn" [routerLink]="['/login']">
        Вход
      </button>

      <button class="action-btn register-btn" [routerLink]="['/register']">
        Регистрация
      </button>

      <button class="action-btn quick-booking-btn" [routerLink]="['/quick-booking']">
        Бърза резервация
      </button>
    </div>

  </div>
</div>

