<div class="container">
  <h1>ParkWise</h1>
  <div class="buttons">
    <button [routerLink]="['/login']">Login</button>
    <button [routerLink]="['/register']">Register</button>
    <button [routerLink]="['/quick-booking']">Quick Booking</button>
  </div>
  <div class="free-counter" *ngIf="freeNow !== null; else loading">
    <span>Свободни места в момента:</span>
    <strong>{{ freeNow }} / {{ totalSpots }}</strong>
  </div>

  <ng-template #loading>
    <div class="free-counter">
      Зареждане на свободните места...
    </div>
  </ng-template>

</div>
<router-outlet></router-outlet>
